.lenguaje{
    width: auto;
    height: 2.5rem;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.9);
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.lenguaje:hover{
    transform: scale(1.2);
}